<%= simple_form_for(@training) do |f| %>

  <fieldset class="form-group">
                                                           
        <%= f.input :course_id, collection: @courses, 
            prompt: "Choose a Course" %>

         <%= f.input :online, label: raw("&nbsp;&nbsp;Online Only") %>

        <div class="in-person-only">
            <%= f.input :location_id, collection: @locations,
             prompt: "Choose a Location" %>
        </div>
        <%= f.input :facilitator_id, collection: @facilitators,
            prompt: "Choose a Facilitator" %>

        <%= f.input :code, as: :hidden %>
        <%= f.input :code, disabled: true %>          

        <div class="in-person-only">
            <%= f.input :start_date %>
            <%= f.input :end_date %>
        </div>
       
        <%= f.input :formatted_regular_price, label: "Regular Price" %>
        <%= f.input :formatted_group_price, label: "Group Price" %>
        <%= f.input :formatted_student_price, label: "Student Price" %>

        <div class="in-person-only">
            <%= f.input :formatted_early_regular_price, label: "Early Regular Price" %>
            <%= f.input :formatted_early_group_price, label: "Early Group Price" %>
            <%= f.input :formatted_early_student_price, label: "Early Student Price" %>
            <%= f.input :max_attendees %>
            <%= f.input :min_attendees %>
            <%= f.input :new_registration_closed %>
            <%= f.input :early_registration_cutoff %>
        </div>
    </fieldset>
   
    <%= f.button :submit, class: 'btn btn-md btn-primary' %>
    <%= link_to 'Cancel', trainings_path, class: 'btn btn-md btn-warning' %>

<% end %>

