<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Training Session Details</h3>
  </div>
  <div class="panel-body">
  <p>
  <strong>Course:</strong>
  <%= link_to @training.course.name, @training.course %>
  </p>
  <p>
      <strong>Database ID:</strong>
      <%= @training.id %>
  </p>
  <p>
      <strong>Code:</strong>
      <%= @training.code %>
  </p>
  <p>
      <strong>Address:</strong>
      <!-- This styling is not very good.  Use isotope? -->
      <div style="margin-left:1em;border:1px solid black; border-radius:8px;padding:1em;width:50%;background:yellow;">
      <%= @training.location.name %><br>
      <%= @training.location.street_1 %><br>
      <% if @training.location.street_2 %>
        <%= @training.location.street_2%><br>
      <% end %>
      <%= @training.location.city %>,&nbsp;
      <% if @training.location.country %>
        <%= @training.location.country %>
      <% else %>
        <%= @training.location.state %>
        <%= @training.location.zip %>
      <% end %>
      </div>
  </p>
  <p>
      <strong>Dates:</strong>
      <%= "#{@training.start_date} through #{@training.end_date}" %>
  </p>
  <p>
      <strong>Facilitator:</strong>
      <%= link_to @training.facilitator.name, @training.facilitator %>
  </p>
  <p>
      <strong>Regular Price:</strong>
      <!-- FIXME -->
      <%= @training.regular_price.to_s.sub(/^(.*)(..)$/, '$\1.\2') %>
  </p>
  <p>
      <strong>Group Price:</strong>
       <!-- FIXME -->
      <%= @training.group_price.to_s.sub(/^(.*)(..)$/, '$\1.\2') %>
  </p>
  <p>
      <strong>Student Price:</strong>
       <!-- FIXME -->
      <%= @training.student_price.to_s.sub(/^(.*)(..)$/, '$\1.\2') %>
  </p>
  <p>
      <strong>New Registration Closed:</strong>
      <%= @training.new_registration_closed %>
  </p>
  <p>
      <strong>Early Registration Cutoff:</strong>
      <%= @training.early_registration_cutoff %>
  </p>
  <p>
      <strong>Mininum Attendees:</strong>
      <%= @training.min_attendees %>
  </p>
  <p>
      <strong>Maximum Attendees:</strong>
      <%= @training.max_attendees %>
  </p>
  </div>
</div>


<div class="form-actions">
  <%= link_to 'Back', trainings_path, :class => 'btn btn-sm btn-info'  %>
  <%= link_to 'Edit', edit_training_path(@training), :class => 'btn btn-sm btn-info' %>
    <%= link_to 'Delete', training_path(@training), class: 'btn btn-sm btn-danger', 
            method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
