<%= simple_form_for(@student, html: { class: 'form-vertical' }) do |f| %>

    <%= f.error_notification %>

  <fieldset>
    <div class="form-inputs">
            <%= f.input :wp_first_name %>
            <%= f.input :wp_last_name %>
            <%= f.input :wp_email %>
            <%= f.input :occupation %>
            <%= f.input :organization %>
        </div>

        <div class="form-actions">
            <%= f.button :submit, class: 'btn btn-md btn-primary' %>
            <%= link_to 'Cancel', students_path, class: 'btn btn-md btn-warning' %>
        </div>

  </fieldset>
<% end %>