<div class="card top-card">

    <div class="card-header">
        <h2>Student Details</h2>
    </div>

    <div class="card-body card-table">

        <div class="row">
            <div class="col-sm-4">Name</div>
            <div class="col-sm-offset-1 col-sm-7">
                 <%= @student.wp_first_name + " " + @student.wp_last_name %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">Database ID</div>
            <div class="col-sm-offset-1 col-sm-7">
                <%= @student.id %> 
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">Email</div>
            <div class="col-sm-offset-1 col-sm-7">
                 <%= @student.wp_email %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">Occupation</div>
            <div class="col-sm-offset-1 col-sm-7">
                <%= @student.occupation %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">Organization</div>
            <div class="col-sm-offset-1 col-sm-7">
               <%= @student.organization %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">Newsletter OK</div>
            <div class="col-sm-offset-1 col-sm-7">
                <%= @student.email_list ? "Yes" : "No" %> 
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">Student Discount</div>
            <div class="col-sm-offset-1 col-sm-7">
                <%= @student.student_discount? ? "Yes" : "No" %> 
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">Created At</div>
            <div class="col-sm-offset-1 col-sm-7">
                <%= @student.created_at.in_time_zone('Pacific Time (US & Canada)').strftime('%m/%d/%Y %l:%M %p') %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">Updated At</div>
            <div class="col-sm-offset-1 col-sm-7">
                <%= @student.updated_at.in_time_zone('Pacific Time (US & Canada)').strftime('%m/%d/%Y %l:%M %p') %>
            </div>
        </div>
    </div>
</div>

<% content_for :sidebar do %>
    <div style="margin:0.5rem;">
        <%= link_to 'Edit This Student', edit_student_path(@student), :class => 'btn btn-md btn-info' %>
    </div>
    <div style="margin:0.5rem;">
        <%= link_to 'View All Students', students_path, class: 'btn btn-md btn-info' %>
    </div>
     <div style="margin:0.5rem;">
        <%= mail_to @student.wp_email, "Send Email", class: 'btn btn-md btn-warning' %>
    </div>
     <div style="margin:0.5rem;">
        <%= link_to "Create New Student", new_student_path, class: 'btn btn-md btn-warning' %>
    </div>
    
<% end %>

<% content_for :wide_table do %>
    <div class="card">

        <div class="card-header">
            <h2>Trainings</h2>
        </div>

        <div class="alert alert-info" role="alert">
            List of all trainings that this student has signed up for.
        </div>

        <div class="card-body" style="padding:1em;">
            <div class="table-responsive">
                <table id="students-table" class="table table-striped table-sm table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Training Code</th>
                            <th>Completed</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>City</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @trainings.each do |t| %>
                            <tr>
                                <td><%= link_to t.course.name, t.course %></td>
                                <td><%= link_to t.code, t %></td>
                                <td>-</td>
                                <td><%= t.start_date.strftime('%m/%d/%Y') %></td>
                                <td><%= t.end_date.strftime('%m/%d/%Y') %></td>
                                <td><%= t.location.city %></td>
                            </tr>         
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Registrations</h2>
        </div>

        <div class="alert alert-info" role="alert">
            All the registrations owned by the student.
        </div>

        <div class="card-body" style="margin:1em;">
            <div class="table-responsive">
                <table id="registrations-table-students" 
                    class="table table-striped table-sm table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Registration</th>
                            <th>Course</th>
                            <th>Training</th>
                            <th>Type</th>
                            <th>Paid</th>
                            <th>Last Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @registrations.each do |r| %>
                            <td><%= link_to r.code, r %></td>
                            <td><%= link_to r.training.course.name, r.training.course %></td>
                            <td><%= link_to r.training.code, r.training %></td>
                            <td><%= r.reg_type %></td>
                            <td><%= r.paid_for ? "Yes" : "No" %></td>
                            <td><%= r.updated_at.in_time_zone(
                                'Pacific Time (US & Canada)').strftime('%m/%d/%Y %l:%M %p') %>
                            </td>
                        <% end %>
                    </tbody>
                </table>
            </div>
       </div>
    </div>

 <div class="card">
        <div class="card-header">
            <h2>Groups</h2>
        </div>

        <div class="alert alert-info" role="alert">
            List of groups that this student belongs to.
        </div>

        <div class="card-body" style="padding:1em;">
            <div class="table-responsive">
                <table id="groups-table" class="table table-striped table-sm table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Handle</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @student.groups.each do |g| %>
                            <tr>
                                <td><%= link_to g.handle, g %></td>
                                <td><%= link_to g.owner.handle, g.owner %></td>
                            </tr>         
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   

    <div class="card">
        <div class="card-header">
            <h2>Attendance</h2>
        </div>

        <div class="alert alert-info" role="alert">
            Day by day attendance for each training goes here. There
            is one row for each day of attendance at any training.  Rows
            are grouped by training session.
        </div>

        <div class="card-body" style="padding:1em;">
        </div>
    </div>


    
<% end %>
