<div class="card top-card">

    <div class="card-header">
       <h2>Registration Details</h2>
    </div>

    <div class="card-body card-table">

      <div class="row">
        <div class="col-sm-4">Code</div>
        <div class="col-sm-offset-1 col-sm-7">
           <%= @registration.code %>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">Course</div>
        <div class="col-sm-offset-1 col-sm-7">
          <%= link_to @registration.training.course.name, @registration.training.course %>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">Training</div>
        <div class="col-sm-offset-1 col-sm-7">
            <%= link_to @registration.training.code, @registration.training %>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">Owner</div>
        <div class="col-sm-offset-1 col-sm-7">
           <%= link_to @registration.owner.handle, @registration.owner %>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">Type</div>
        <div class="col-sm-offset-1 col-sm-7">
           <%= @registration.reg_type %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">Registrant</div>
        <div class="col-sm-offset-1 col-sm-7">
           <%= link_to @registration.registerable.handle,
              @registration.registerable %>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">Paid</div>
        <div class="col-sm-offset-1 col-sm-7">
           <%= @registration.paid_for ? "yes" : "no" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">Amount Approved</div>
        <div class="col-sm-offset-1 col-sm-7">
           <%= @registration.amt_approved.format %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">Updated</div>
        <div class="col-sm-offset-1 col-sm-7">
          <%= @registration.updated_at.strftime("%-m/%d/%Y %-l:%d %p") %>
        </div>
      </div>

    </div>
</div>

<% content_for :wide_table  do %>
    <div class="card">
        <div class="card-header">
            <div style="float:left;"><h2>Transactions for this Registration</h2></div>
        </div>

        <div class="card-body">

            <div class="table-responsive">
              <table class="table table-striped table-sm table-hover table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Payer</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                    <% @registration.transactions.each do |t| %>
                        <tr>
                            <td><%= link_to t.transaction_id, transaction_path(t.id) %></td>
                            <td><%= t.status %></td>
                            <td><%= link_to t.owner.handle, t.owner %></td>
                            <td>
                                <% if t.payer_first_name.blank?  || t.payer_last_name.blank? %>
                                    Unspecified
                                <% else %>
                                    <%= t.payer_first_name + " " + t.payer_last_name %>
                                <% end %>
                            </td>
                            <td><%= format("$%.2f", t.amount) %></td>
                        </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
<% end %>
