<h1>Facilitators</h1>

<div class="table-responsive">
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @facilitators.each do |facilitator| %>
        <tr>
          <td><%= link_to facilitator.name, facilitator %></td>
          <td><%= facilitator.description %></td>
          <td><%= link_to 'Edit', edit_facilitator_path(facilitator),
            class: 'btn btn-primary btn-xs' %></td>
          <td><%= link_to 'Delete', facilitator, class: 'btn btn-xs btn-danger', 
            method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New facilitator', new_facilitator_path, class: 'btn btn-primary btn-sm' %>