<%= simple_form_for(@training) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :course_id, collection: 18..60 %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :code %>
    <%= f.input :early_cost %>
    <%= f.input :early_cost %>
    <%= f.input :late_cost %>
    <%= f.input :late_cost %>
    <%= f.input :new_registration_closed %>
    <%= f.input :early_registration_cutoff %>
    <%= f.association :course %>
    <%= f.association :facilitator %>
    <%= f.association :location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
