<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @training.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @training.end_date %>
</p>

<p>
  <strong>Code:</strong>
  <%= @training.code %>
</p>

<p>
  <strong>Early cost:</strong>
  <%= @training.early_cost %>
</p>

<p>
  <strong>Early cost:</strong>
  <%= @training.early_cost %>
</p>

<p>
  <strong>Late cost:</strong>
  <%= @training.late_cost %>
</p>

<p>
  <strong>Late cost:</strong>
  <%= @training.late_cost %>
</p>

<p>
  <strong>New registration closed:</strong>
  <%= @training.new_registration_closed %>
</p>

<p>
  <strong>Early registration cutoff:</strong>
  <%= @training.early_registration_cutoff %>
</p>

<p>
  <strong>Course:</strong>
  <%= @training.course %>
</p>

<p>
  <strong>Facilitator:</strong>
  <%= @training.facilitator %>
</p>

<p>
  <strong>Location:</strong>
  <%= @training.location %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
