<div class="card top-card">

    <div class="card-header">
        <h2>Course Details</h2>
    </div>

    <div class="card-body card-table">


    <div class="row">
      <div class="col-sm-4">Name</div>
      <div class="col-sm-offset-1 col-sm-7">
        <%= @course.name %> 
      </div>
    </div>

        <div class="row">
      <div class="col-sm-4">Database ID</div>
      <div class="col-sm-offset-1 col-sm-7">
        <%= @course.id %> 
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">Description</div>
      <div class="col-sm-offset-1 col-sm-7">
        <%= @course.description %> 
      </div>
    </div>

  <div class="form-actions">
    <%= link_to 'Edit', edit_course_path(@course), :class => 'btn btn-sm btn-info' %>
    <%= link_to 'Delete', course_path(@course), class: 'btn btn-sm btn-danger', 
      method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  </div>
</div>
