<h1>Training Locations</h1>

<div class="table-responsive">
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= link_to location.name, location %></td>
          <td><%= location.address %></td>
          <td><%= link_to 'Edit', edit_location_path(location),
            class: 'btn btn-primary btn-xs' %></td>
          <td><%= link_to 'Delete', location, class: 'btn btn-xs btn-danger', 
            method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New location', new_location_path, class: 'btn btn-primary btn-sm' %>