<!DOCTYPE html>
<html>
  <head>
    <title>Registrar</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="/">
        <img alt="Niroga Brand" src="<%= image_url('niroga_32x32.png') %>"  >
      </a>
      <ul class="nav nav-inline navbar-nav">
        <%= nav_menu_item("Students", students_path) %>
        <%= nav_menu_item("Courses", courses_path) %>
        <%= nav_menu_item("Trainings", trainings_path) %>
        <%= nav_menu_item("Registrations", registrations_path) %>
        <%= nav_menu_item("Locations", locations_path) %>
        <%= nav_menu_item("Facilitators", facilitators_path) %>
        <%= nav_menu_item("Groups", groups_path) %>
        <%= nav_menu_item("Transactions", transactions_path) %>
        <%= nav_menu_item("Organizations", organizations_path) %>
      </ul>
        
      <span class="nav nav-inline navbar-nav pull-xs-right">
        <%= link_to "Sign Out", destroy_user_session_path,
          method: "delete", class: "nav-item btn nav-btn btn-danger", role: "button" %>
      </span>

    </nav>

	 <div class="container top-container">

        <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name == "notice" ? "success" :
                "danger" %> alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong><%= msg %></strong>
            </div>
        <% end %>

        <div class="row">
          <div class="col-sm-12">

			     <%= yield %>
        </div>

		</div> <!-- row -->
	</div> <!-- container -->


  </body>
</html>
